/* Card with grid  */
@keyframes brigthBorder {
    0% {box-shadow: 0px 0px 10px 2px #E2CFEA;}
    25% {box-shadow: 0px 0px 10px 2px #004FFF;}
    50% {box-shadow: 0px 0px 10px 2px #F433AB;}
    75% {box-shadow: 0px 0px 10px 2px #21D19F;}
    100% {box-shadow: 0px 0px 10px 2px #E2CFEA;}
}


@keyframes brigthColor {
    0% {color: #E2CFEA;}
    25% {color: #004FFF;}
    50% {color: #F433AB;}
    75% {color: #21D19F;}
    100% {color: #E2CFEA;}    
  }


.active {
    display: flex;
    justify-content: space-between;
    align-items: row;
    width: 245px;
    height: 345px;
    background-color: #62466b;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px; 
    animation: brigthBorder 5s infinite;; 
}



@media (max-width: 768px) {
    .active {
        width: 678px;
        height: 350px;    
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 20px;
    }
}

@media screen and (max-width: 568px) {
    .active {
        width: 450px;
        height: 350px;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 20px;
        grid-column: 1/2;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }
}
