@keyframes brigthBorder {
  0% {box-shadow: 0px 0px 10px 2px #E2CFEA;}
  25% {box-shadow: 0px 0px 10px 2px #004FFF;}
  50% {box-shadow: 0px 0px 10px 2px #F433AB;}
  75% {box-shadow: 0px 0px 10px 2px #21D19F;}
  100% {box-shadow: 0px 0px 10px 2px #E2CFEA;}
}

.header {
    display: flex;
    margin: 0 auto;
    max-width: 992px; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #161925;;
    border-radius: 5px;
    border-bottom: 0px solid #E2CFEA; 
    box-shadow: 16px 2px 10px rgba(#e2cfea);
    animation: brigthBorder 4s infinite;
    color: var(--red);
    
  }
  .header h1 {
    animation: brigthColor 4s infinite;

  }
.nav {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100vh;
    top: -15px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 0;
  }

.navshow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 14%;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: #161925;
    border-radius: 10px;
    animation: brigthBorder 4s infinite;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease-in-out;
    transform: translateX(0);
    z-index: 0;
  }

.button {
    position: absolute;
    width: 25px;
    top: 0.9%;
    height: 25px;
    left: 21%;
    z-index: 10;
    color: var(--red);
    animation: brigthColor 4s infinite;
}
@media screen and (max-width: 2560px) {
  .button {
    left: 31%;
  }
  .navshow {
    left: 30.7%;
  }
}

@media screen and (max-width: 2340px) {
  .button {
    left: 31%;
  }
  .navshow {
    left: 28.7%;
  }
}

@media screen and (max-width: 2267px) {
  .button {
    left: 25%;
  }
  .navshow {
    left: 24.7%;
}

@media screen and (max-width: 1948px) {
  .navshow {
    left: 24.5%;
  }
}

@media screen and (max-width: 1848px) {
  .navshow {
    left: 22.8%;
  }
  .button {
    left: 24.1%;
  }
}
}
@media screen and (max-width: 1758px) {
  .navshow {
    left: 21.5%;
  }
  .button {
    left: 22.1%;
  }
}

@media screen and (max-width: 1667px) {
  .button {
    left: 21%;
  }
  .navshow {
    left: 19.7%;
  }
}

@media screen and (max-width: 1526px) {
  .button {
    left: 9,2%;
  }
  .navshow {
    left: 17.2%;
}
}

@media screen and (max-width: 1440px) {
  .button {
    left: 16.2%;
  }
  .navshow {
    left: 11.8%;
}
}

@media screen and (max-width: 1324px) {
  .button {
    left: 14.2%;
  }
  .navshow {
    left: 10.8%;
  }
}

@media screen and (max-width: 1239px) {
  .button {
    left: 10.2%;
  }
  .navshow {
    left: 7.8%;
  }
}

@media screen and (max-width: 1184px) {
  .button {
    left: 6.2%;
  }
  .navshow {
    left: 4.3%;
  }
}

@media screen and (max-width: 1084px) {
  .button {
    left: 2.2%;
  }
  .navshow {
    left: 1.8%;
  }
}

@media screen and (max-width: 1024px) {
  .button {
    left: 1.5%;
  }
  .navshow {
    left: 0.8%;
    width: 30vw;
  }
}


@media screen and (max-width: 998px) {
  .button {
    left: 1.2%;
  }
  .navshow {
    width: 30vw;
  }  
}





@keyframes brigthColor {
  0% {color: #E2CFEA;}
  25% {color: #004FFF;}
  50% {color: #F433AB;}
  75% {color: #21D19F;}
  100% {color: #E2CFEA;}    
}



