
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}

.container section {
    grid-column-start: 1;
    grid-column-end: 20;
    grid-row-start: 2;
    grid-row-end: 20;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
}

